<header class="absolute left-0 top-0 z-10 flex w-full items-center border-b border-white/50 bg-transparent py-[20px]">
  <div class="container flex flex-wrap items-center justify-between gap-y-3 space-x-3">
    <a href="#">
      <img src="./img/logo.svg" alt="Logo" class="h-[34px] w-[137px] object-contain sm:h-[49px] sm:w-[181px]" />
    </a>
    <nav class="hidden lg:block">
      <ul class="flex items-center space-x-[56px]">
        <li>
          <a href="#services" class="text-base text-white transition-colors hover:text-primary">Тарифи</a>
        </li>
        <li>
          <a href="#about" class="text-base text-white transition-colors hover:text-primary">Про нас</a>
        </li>
        <li>
          <a href="#comments" class="text-base text-white transition-colors hover:text-primary">Відгуки</a>
        </li>
        <li>
          <a href="#contacts" class="text-base text-white transition-colors hover:text-primary">Контакти</a>
        </li>
      </ul>
    </nav>
    <a
      href="#"
      class="inline-flex h-[54px] items-center justify-center space-x-2.5 rounded-[10px] border border-transparent bg-primary px-[10px] text-sm text-white transition-colors hover:border-primary hover:bg-transparent hover:text-primary sm:h-[54px] sm:px-[15px] sm:text-base">
      <span>Офіційний TG</span>
      <svg class="size-5 sm:size-6">
        <use href="./sprites/sprite.svg#icon-tg"></use>
      </svg>
    </a>
  </div>
</header>
